.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  /* @media screen and (min-width: 280px) and (max-width: 767px) {
    width: 280px;
  } */
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 40
}

.modal__content {
  padding: 20px;
  border-radius: 2px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
}
/* @media screen and (min-width: 280px){
  .modal__content {
    width: 240px;
    height: 182px;
  }
}
@media screen and (min-width: 768px){
  .modal__content {
    width: 354px;
    height: 164px;
  }
} */

.modal__content.active {
  transform: scale(1);
}
